<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">        
        <!-- Usa o novo logotipo Amantini em vez do logotipo antigo -->
        <img src="{{ url_for(static, filename=assets/img/brand/logo.png) }}" class="navbar-brand-img" alt="Amantini Logo" style="height: 60px;">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
          <!-- Dashboard -->
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li> -->
          <!-- Contatos -->
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'contacts' in segment %} active {% endif %}" href="/contacts">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Contatos</span>
            </a>
          </li> -->
          <!-- Tarefas -->
          <li class="nav-item">
            <a class="nav-link {% if 'tasks' in segment %} active {% endif %}" href="/tasks">
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Tarefas</span>
            </a>
          </li>

          <!-- Compras (Orçamentos) -->
          <li class="nav-item">
            <a class="nav-link {% if 'compras' in segment %} active {% endif %}" href="/compras">
              <i class="ni ni-cart text-yellow"></i>
              <span class="nav-link-text">Compras</span>
            </a>
          </li>
          <!-- Tarefas Concluídas -->
          <li class="nav-item">
            <a class="nav-link {% if 'tarefas_concluidas' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.tarefas_concluidas') }}">
              <i class="ni ni-archive-2 text-success"></i>
              <span class="nav-link-text">Tarefas Concluídas</span>
            </a>
          </li>
          <!-- Financeiro -->
          <li class="nav-item">
            <a class="nav-link {% if 'financeiro' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.financeiro') }}">
              <i class="ni ni-money-coins text-warning"></i>
              <span class="nav-link-text">Financeiro</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'pedidos' in segment %} active {% endif %}" href="{{ url_for('home_blueprint.pedidos_compra') }}">
              <i class="ni ni-bag-17 text-green"></i>
              <span class="nav-link-text">Pedidos de Compra</span>
            </a>
          </li>
          <!-- Oportunidades -->
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'opportunities' in segment %} active {% endif %}" href="/opportunities">
              <i class="ni ni-chart-bar-32 text-info"></i>
              <span class="nav-link-text">Financeiro</span>
            </a>
          </li> -->
          <!-- Orçamentaria -->
          <!-- <li class="nav-item">
            <a class="nav-link {% if 'reports' in segment %} active {% endif %}" href="/reports">
              <i class="ni ni-paper-diploma text-primary"></i>
              <span class="nav-link-text">Orçamentaria</span>
            </a>
          </li> -->
          <!-- Relatórios
          <li class="nav-item">
            <a class="nav-link {% if 'reports' in segment %} active {% endif %}" href="/reports">
              <i class="ni ni-chart-pie-35 text-orange"></i>
              <span class="nav-link-text">Relatórios</span>
            </a>
          </li> -->
          
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Recursos</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <!-- Removido item de Página de Produtos -->
        </ul>
      </div>
    </div>
  </div>
</nav>
